# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ============================================
# DEPENDENCIAS
# ============================================
node_modules/

# ============================================
# EXPO
# ============================================
.expo/
dist/
web-build/
expo-env.d.ts

# ============================================
# NATIVE
# ============================================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ============================================
# METRO
# ============================================
.metro-health-check*

# ============================================
# DEBUG
# ============================================
npm-debug.*
yarn-debug.*
yarn-error.*

# ============================================
# macOS
# ============================================
.DS_Store
*.pem

# ============================================
# LOCAL ENV
# ============================================
.env*.local

# ============================================
# TYPESCRIPT
# ============================================
*.tsbuildinfo

# ============================================
# GENERATED NATIVE FOLDERS
# ============================================
/ios
/android

# ============================================
# INTELLIJ IDEA / WEBSTORM
# ============================================
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# ============================================
# VISUAL STUDIO CODE
# ============================================
.vscode/
*.code-workspace

# ============================================
# ARCHIVOS TEMPORALES
# ============================================
*.swp
*.swo
*~
